/* Apply to all pages */
html, body {
    min-width: 800px;   /* or whatever width you want */
    overflow-x: auto;   /* allows scrolling if window is too small */
}

.flash-error {
    color: red;
    font-weight: bold;
}

.flash-success {
    color: green;
    font-weight: bold;
}

.back-button-box {
    margin-left: 5%;
}

button:hover {
    cursor: pointer;
}

.popup {
    display: none; /*Hidden by default*/
}

.title-page {
    margin-top: 80px; 
    margin-left: 30px;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase; 
    font-family: 'Lucida Handwriting';
    color: #2f261c;
}

/* Login Page */

.login-page {
    background-color: #3f3328;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-flash {
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 80px;
}

.login-flash-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.website-title {
    font-size: x-large;
    text-align: center;
    text-transform: uppercase; 
    font-family: 'Lucida Handwriting';
    color: #826a50;

    
    /* 3D effect using multiple layered shadows */
    text-shadow: 
      1px 1px 0 #1d1712,    /* light top-left shadow */
      2px 2px 0 #1d1712,
      3px 3px 0 #1d1712,
      4px 4px 0 #1d1712,
      5px 5px 5px rgba(0,0,0,0.3); /* soft dark bottom-right shadow */
}

.login-box {
    border: #2d251b 6px solid;
    display: flex;
    flex-direction: column;
    background-color: #dcc4a5;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*border: 2px solid red;*/
}

.login-button {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    border: solid 2px #261e14;
    color: black;
    margin-bottom: 15px;
}

.login-button:hover {
    background-color: rgb(7, 7, 163);
    border: solid 2px white;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.signup-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.login-email {
    width: 50%;
    border: #261e14 2px solid;
    border-radius: 5px;
}

.login-password {
    width: 50%;
    border: #261e14 2px solid;
    border-radius: 5px;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*border: 2px solid blue;*/
    width: 50%;
    margin-bottom: 10px;
}

.forgot-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*border: 2px solid purple;*/
    width: 50%;
    margin-bottom: 50px;
}


/* forgot-pass.html & signup.html styling */

.signup-title, .forgot-password-title {
    font-size: x-large;
    text-transform: uppercase; 
    font-family: 'Lucida Handwriting';
    color: #aa9071;
}

#forgot-password-section, #signup-section {
    display: flex;
    justify-content: center; /* Align content to center */
}

.back-button {
    border-radius: 4px;
}

.back-button:hover {
    cursor: pointer;
}

.all-forms {
    display: flex;
    flex-direction: column; /*arranges elements vertically*/
    align-items: flex-start;
}

.all-forms input {
    margin-bottom: 10px;
}

.signup-page, .forgot-password-page {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,  #272019,  #534435);
}

.signup-title, .back-button-box, .forgot-password-title {
    margin-left: 200px;
}

#signup-box, #forgot-password-box {
    background-color: #272019;
    border: 2px solid #aa9071;
    border-radius: 7px;
    padding: 30px 30px 30px 30px;
}

/* Base.html styling */

.homepage {
    background-color: #74614b;
}

.navbar {
    background-color: #261e14;
    position: fixed;         /* Fixes it to the top of the screen */
    top: 0;                  /* Aligns it to the top */
    left: 0;                 /* Aligns it to the left edge */
    width: 100%;             /* Makes it full width */
    height: 60px;
    padding-left: 5px;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center;       /* Center content vertically */
    z-index: 1000;      /*Controls ordering, higher the number more front or on top the element is*/
}

.navbar-links {
    display: flex;
    gap: 20px; /* space between links */
}

.navbar-links a {
    font-family: 'Lucida Handwriting';
    color: white;
    margin-right: 20px;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: lightblue;
}

/*Home Page Styling*/

.welcome{
    /*border: 5px solid white;*/
    display: flex;          /*enables flexbox layout*/
    flex-direction: row; /*arranges elements horizontally*/
    justify-content: center;
    color:#272019;
    text-transform: uppercase; 
    font-family: 'Copperplate Gothic Light';
    font-style: italic;
    font-weight: bolder;
    font-size: 32px;

     /* 3D effect using multiple layered shadows */
    text-shadow: 
      1px 1px 0 #b99473,    /* light top-left shadow */
      2px 2px 0 #b99473,
      3px 3px 0 #b99473,
      4px 4px 0 #b99473,
      5px 5px 5px rgba(0,0,0,0.3); /* soft dark bottom-right shadow */
}

.dashboard{
    /*border: 5px solid white;*/
    display: flex;          /*enables flexbox layout*/
    flex-direction: column; /*arranges elements vertically*/
    margin-left: 30px;
    margin-right: 30px;
}

.progress-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.sumrem-section {
    display: flex; /*Flex layout: Arranges elements in one dimension (horizontal or vertical) */
    flex-direction: row; /*arranges elements horizontally*/
    flex-wrap: wrap;
    background-color: #392e20;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    /*border: 8px orange solid;*/

}

.summary-section {
    flex: 1 1 50%;              /* Flex shorthand: flex-grow, flex-shrink, flex-basis */
                                /* flex-grow: 0 -> don't grow larger than flex-basis */
                                /* flex-shrink: 0 -> don't shrink smaller than flex-basis */
                                /* flex-basis: 70% -> initial size is 50% width of parent container */
    /*border: 3px solid lime;*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.summary-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    width: 90%; 
    max-width: 800px;     /* Prevents growing too big */
    min-width: 300px;     /* Prevents shrinking too small */
    height: auto;
    background-color: #aa9071;
    border: 6px solid  rgb(125, 102, 59);
    border-radius: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

.summary-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    border-radius: 20%;
    height: auto;
    gap: 20px; /*Space between elements*/
}

.summary-content div {
    padding: 10px 10px 10px 10px;
    width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;
}

.due-today {
    background-color: rgb(255, 149, 0);
}

.due-week {
    background-color: rgba(234, 211, 0, 0.799);
}

.overdue-tasks {
    background-color: red;
}

.text {
    border: 2px solid lime;
    border-radius: 0px;
    height: 60%;
    width: 60%;
    box-sizing: border-box;
}

.text > * { /*Gets all child elements of parent element*/
    color: rgb(65, 1, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
}

.text p {
    font-family: Impact;
    font-size: large;
    margin: 0;
}

.text h4 {
    margin: 0;
    font-family: Impact;
    font-size: 36px;
}

.reminders-section {
    flex: 1 1 50%;  
    /*border: 3px solid violet;*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.reminder-box {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    margin: 0;
    height: auto;
    box-sizing: border-box;
}

.reminder-table {
    display: flex;
    flex-direction: column;
    border: 6px solid rgb(159, 131, 95);
    border-radius: 10px;
    background-color: rgb(125, 102, 59);
    width: 90%;
    height: auto;
}

.reminder-table tr {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    margin-bottom: 40px;
}

.reminder-header th {
    width: 25%;
    font-size: large;
    margin-top: 5px;
    border-bottom: whitesmoke solid 2px;
    color: whitesmoke;
}

.task1 th, .task2 th, .task3 th, .task1 td, .task2 td, .task3 td {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    font-size: large;
    color: whitesmoke;
}


.task1 td a, .task2 td a, .task3 td a {
    color: whitesmoke;
    font-weight: bold;
}

.task1 td a:hover, .task2 td a:hover, .task3 td a:hover {
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
}


.reminder-task {
    text-decoration: none;
    color: black;
}


.reminder-task:hover {
    text-decoration: underline;
}

.reminder-priority.high {
    color:rgb(255, 0, 0);
    font-weight: bold;
}

.reminder-priority.medium {
    color:rgb(255, 119, 0);
    font-weight: bold;
}

.reminder-priority.low {
    color:rgb(7, 206, 40);
    font-weight: bold;
}

.deadline-later {
    color: rgb(79, 79, 79); 
    font-weight: bold;
}

.deadline-today {
    color: rgb(194, 2, 2); 
    font-weight: bold;
}

.progress-section {
    /*border: 8px red solid;*/
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    height: 30px;
    border-radius: 100px;
    border: 4px black solid;
    
    /* These lines remove the default browser styling */
    -webkit-appearance: none;  /* For WebKit browsers like Chrome & Safari */
    appearance: none;          /* Standard property for modern browsers */
}


/* This styles the empty background part of the progress bar */
.progress-bar::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 100px;
}

/* This styles the filled (completed) part of the progress bar */
.progress-bar::-webkit-progress-value {
  background-color: #4CAF50;      /* Green filled part */
  border-radius: 100px;           /* Rounded edge for the fill */
  transition: width 0.3s ease-in-out;  /* Smooth animation when it fills */
}


.stats-section {
    /*border: 8px blue solid; */
    margin-top: 20px;
    margin-bottom: 50px;
} 

/* Homepage - Calendar */
.calendar-section {
    display: flex;
    flex-direction: column; /*arranges vertically*/
    gap: 0;
    height: 850px;
    /*border: 8px solid purple;*/
}

.calendar-title, .calendar-month-year {
    display: flex;
    flex-direction: row; /*arranges elements horizontally*/
    justify-content: center; /* Align content horizontally */
    align-items: center;       /* Center content vertically */
    background-color: whitesmoke;
}

.calendar-title {
    background-color: rgba(255, 3, 3, 0.84);
    padding-bottom: 5px;
}

.calendar-title h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
    color: whitesmoke;
    font-weight: bolder;
}

.calendar-month-year {
    display: flex;
    flex-direction: row; /*arranges elements horizontally*/
    justify-content:center; /* Align content horizontally, pushes buttons to edges */
    align-items: center;       /* Center content vertically */
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 20px;
    width: 100%
}

.month-year-button {
    font-weight: bolder;
    font-size: large;
    width: 50%;
}

.calender-month-year a {
    width: 25%;
}

/* Styles each task base on their priority*/
.cal-task {
    border-radius: 5px;
    font-weight: bold;
    color: rgb(248, 246, 246);
    font-family: 'Times New Roman';
}

.cal-task:hover {
    opacity: 75%;
}

.cal-task.high {
    background-color:rgb(255, 0, 0);
}

.cal-task.medium {
    background-color:rgb(255, 119, 0);
}

.cal-task.low {
    background-color:rgb(7, 206, 40);
}

.prev-month, .next-month {
    font-weight: bold;
    font-size: medium;
}


.month-title {
    margin-left: 2px;
    margin-right: 2px;
}

.year-title {
    padding-left: 100px;
    margin-right: 5px;
    color: red;
}

.calendar-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for 7 days */
    margin: 0;
    padding: 0;
}

.calendar-header-day, .calendar-days {
    grid-column: span 7; /* This makes the header take the full width */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    height: auto; /* Let it size to content */
}

.calendar-days {
    height: 500px; /* Sets minimum height */
}

.calendar-header-day h3 {
    margin: 0;
    padding: 0;
}


.calendar-header-day h3, .calendar-day, .calendar-empty, .calendar-day.today {
    background-color: whitesmoke;
    box-shadow: 0 0 0 1px black; /* Thin outer border-like appearance */
    padding: 10px;
    box-sizing: border-box;    
}

.calendar-day, .calendar-day.today {
    height: 120px;
}

.calendar-day.today {
    background-color: darkgrey;
}

.day-number {
    display: flex;
    justify-content: left; /* Align content horizontally */
    margin: 0;
    font-weight: bolder;
}

.day-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#calendar-popup.show {
    display: flex;
    position: fixed;
    background: lightgray;
    padding: 10px;
    border: 8px solid darkgray;
    border-radius: 5px;
    top: 30%;
    left: 42.3%;
}

#task-info-popup.show {
    display: flex;
    position: fixed;
    background: lightgray;
    padding: 10px;
    border: 8px solid darkgray;
    border-radius: 5px;
    top: 20%;
    left: 42.3%;
    width: 400px;
}

#display-title, #display-description, #display-priority, #display-deadline {
    margin: 0;
    padding: 0;
}

#calendar-popup.show div {
    font-size:x-large;
}

.stats-box {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    margin: 0;
}

.stats-table {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    background-color: whitesmoke;
    width: 90%;
}

.stats-table tr {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.stats-table th, .stats-table td {
    border: 2px solid black;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* Settings Styling */

.subtitle {
    font-weight: bold;
    color: #322a21;
    font-style: italic;
    margin-top: 15px;
    padding: 0;
}

.signout {
    background: whitesmoke;      /* Remove default background */
    padding: 0;            /* Remove default padding */
    color: black;
    cursor: pointer;       /* Show pointer cursor on hover */
    font-size: 20px;
    font-family: monospace;
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.signout:hover {
    background: red;
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.signout-section {
    padding-left: 40px;
    margin-top: 20px;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.account, .preferences {
    padding-left: 40px;
    background-color: #846847;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.account-items, .preferences-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding-left: 40px;
    margin-right: 40px;
}

.account-items a, .preferences-items a {
    text-decoration: none;
    color: #322a21;
    font-weight: bold;
}

.account-items a:hover, .preferences-items a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: whitesmoke;
}

#change-name {
    position: fixed;
    top: 18%;
    left: 20%;
    background: lightgray;
    padding: 10px;
    border: 8px solid darkgray;
    border-radius: 5px;
}

#change-password {
    position: fixed;
    top: 24%;
    left: 20%;
    background: lightgray;
    padding: 10px;
    border: 8px solid darkgray;
    border-radius: 5px;
}

#delete-account {
    position: fixed;
    top: 28%;
    left: 20%;
    background: lightgray;
    padding: 10px;
    border: 8px solid darkgray;
    border-radius: 5px;
}

#notifications {
    position: fixed;
    top: 30%;
    left: 20%;
    background: lightgray;
    padding: 10px;
    border: 8px solid darkgray;
    border-radius: 5px;
}

#delete-data {
    position: fixed;
    top: 34%;
    left: 20%;
    background: lightgray;
    padding: 10px;
    border: 8px solid darkgray;
    border-radius: 5px;
}

#change-name.show, #change-password.show, #delete-account.show, #notifications.show, #delete-data.show {
    display: flex; /* show when .show class is added */
}

#settings-alert {
    background: lightgray;
    padding: 10px;
    border: 3px solid darkgray;
    border-radius: 5px;
    width: 20%;
    text-align: center;
}

/* Tasks Styling */

.tasks-section {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;  /* centers horizontally */
}

.tasks-table {
    border-collapse: collapse;
    width: 100%;
    height: 50%;
    table-layout: fixed; /* Force consistent column widths */
}

.tasks-table th, .tasks-table td {
    border: 4px solid #261e14;
    color: black;
    font-size: large;
    text-align: center;
    background: rgb(222, 222, 222);
}

.tasks-table th{
    color: whitesmoke;
    font-weight: bolder;
    font-size: larger;
    height: 50px;
    background-color: #483826;
}

.task-title {
    width: 20%;
}

.task-description {
  white-space: normal;         /* Allow wrapping at spaces and newlines */
  word-break: break-word;      /* Wrap long words */
  max-width: 400px;            /* Optional: force wrapping if too wide */
  width: 35%;
}

.task-deadline {
    width: 20%;
}

.task-priority {
    width: 8%;
}

.task-status {
    width: 8.5%;
}

.task-options {
    width: 8.5;
}

.task-status-data {
    text-decoration: none;
    color: white
}

.task-status.complete {
    color: rgb(7, 143, 7);
    text-decoration: none;
}

.task-status.in-progress {
    color: rgb(22, 11, 224);
    text-decoration: none;
}

.task-features {
    margin-left: 30px;
    margin-right: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-start;  /* Aligns items to the right horizontally */
    align-items: center;
    gap: 20px;
}

.add-button {
    color: black;
    text-decoration: none;
}

.add-button:hover {
    color: rgb(2, 74, 2);
    text-decoration: underline;
}

#add-task.show, #edit-task.show, #filter-sort-task.show {
    display: flex;
    position: fixed;
    top: 40%;
    left: 35%;
    background: lightgray;
    padding: 10px;
    border: 8px solid darkgray;
    border-radius: 5px;
    z-index: 1000;
}

#filter-sort-task.show {
    display: flex;
    position: fixed;
    top: 14%;
    left: 20%;
    background: lightgray;
    padding: 10px;
    border: 8px solid darkgray;
    border-radius: 5px;
    z-index: 1000;
}

.reset-button {
    margin-bottom: 10px;
}

#task-flash {
    display: flex;
    justify-content: flex-start;  /* Aligns items to the right horizontally */
    background: lightgray;
    padding: 10px;
    border: 8px solid darkgray;
    border-radius: 5px;
    z-index: 1000;
    margin-left: 30px;
    margin-right: 30px;
}